sfacinput(for="home1")
  sf-ac-type-home(name="home1")
sfaclist(for="home1")

sfacinput(for="home2")
  sf-ac-type-home(name="home2")
sfaclist(for="home2")

sfacinput(for="home3")
  sf-ac-type-home(name="home3")
sfaclist(for="home3")
