sfacinput(name="home1")
  sf-ac-type-home(name="home1")
sfaclist(name="home1")
  sf-ac-type-home(name="home1")

sfacinput(name="home2")
  sf-ac-type-home(name="home2")
sfaclist(name="home2")
  sf-ac-type-home(name="home2")
